:root {
    --color1: #a682ff;
    --color2: #715aff;
    --color3: #5887ff;
    --color4: #55c1ff;
    --color5: #102e4a;
}

.navbar {
    display: block;
}

.collapse {
    margin: 0 -16px;
}

#navbar {
    background: #000;
    height: 50px;
}

a {
    color: white;
    -webkit-transition: .5s;
    transition: .5s;
}

a:hover {
    color: var(--color2);
}

.fade-in {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.btn-info {
    background-color: var(--color3);
    border-color: var(--color3);
}

.btn-info:hover {
    background-color: var(--color2);
    border-color: var(--color2);
}

.carousel-inner {
    max-height: 400px;
}

.carousel-item {
    height: 400px;
    background-size: cover;
}

#carousel-item-1 {
    background-image: url('../images/carousel_image_1.jpg');
}

#carousel-item-2 {
    background-image: url('../images/carousel_image_2.jpg');
}

#carousel-item-3 {
    background-image: url('../images/carousel_image_3.jpg');
}

.carouselText {
    margin-top: 2.5em;
}

.vertical-line
{
    width: 0.5px;
    height: 15px;
    background: var(--color1);
}